<div class="main-div">
    <mat-card style="width: 50%;">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field appearance="standard" width="80%">
                <mat-label>Enter Email</mat-label>
                <input matInput type="text" formControlName="email" >
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard" width="80%">
                <mat-label>Enter Password</mat-label>
                <input matInput type="password" formControlName="password" >
            </mat-form-field>
            <br>
            <button mat-button color="primary">Login</button>
        </form>
        {{messagePrint}}
    </mat-card>
</div>