 <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>CRUD</span>
    
    <a mat-button  routerLink="crud/read">Read</a>
    <a mat-button  routerLink="crud/create">Create</a>
    <span class="example-spacer"></span>
    <a mat-button *ngIf="!isLogin" routerLink="login">Login</a>
    <a mat-button *ngIf="isLogin" (click)="logout()">Logout</a>
  </mat-toolbar>
 

<!-- Routes page show here -->
<router-outlet></router-outlet>